
<!--{% if post.total_likes %}-->

<!--  {% if post.liked %}-->
<!--    <a>-->
<!--      <i class="like-btn bi bi-heart-fill heart-icon liked" data-post-id="{{ post.id }}"></i>-->
<!--    </a>-->

<!--  {% else %}-->
<!--    <a>-->
<!--      <i class="like-btn bi bi-heart-fill heart-icon" data-post-id="{{ post.id }}"></i>-->
<!--    </a>-->
<!--  {% endif %}-->

<!--  <strong class="like-count text-dark me-2">{{ post.likes.count }}</strong>-->
<!--{% else %}-->
<!--  <a>-->
<!--    <i class="like-btn bi bi-heart-fill heart-icon non_liked" data-post-id="{{ post.id }}"></i>-->
<!--  </a>-->
<!--{% endif %}-->


<a>
  <i class="like-btn bi bi-heart-fill heart-icon" data-post-id="{{ post.id }}"></i>
</a>
<strong class="like-count text-dark me-2">{{ post.likes.count }}</strong>



