{% extends 'base/base.html' %} {% block title %}Login Page{% endblock title %}
{% load crispy_forms_tags %} {% block content %}
<br />
<main class="container col-4 text-start">
    <a href="{% url 'home' %}"> Home</a><br /><br />
    <div class="card border-success p-4 pb-0 col-auto">
        <div class="form-group">
            <form method="post">
                {% csrf_token %} {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Login</button>
                <br /><br />
            </form>
        </div>
    </div>
</main>
<br /><br /><br /><br />

{% endblock content %}
