{% extends 'base/base.html' %}

{% block title %}Login Page{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<br />
<main class="container col-4 text-start">
    <a href="{% url 'home' %}"> Home</a><br /><br />
    <div class="card border-success p-4 pb-0 col-auto">
        <h3>Login page</h3>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again</p>
        {% else %}
            <p>Please, use the following form to login:</p>
        {% endif %}

        <div class="form-group">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Login" class="btn btn-primary"></p>
                <br /><br />
            </form>
        </div>


        <div class="social">

            <!-- TODO: Facebook login don't work -> error -->
            <a href="#">
                <i class="bi bi-facebook-fill"></i>
                Sign in with Facebook
            </a><br />

            <a href="#">
                <i class="bi bi-google-fill"></i>
                Login with Google
            </a>
        </div><br />
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    </div>
</main>
<br /><br /><br /><br />

{% endblock content %}
