{% extends 'base/base.html' %}

{% block title %}Change your password{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<main class="container col-4 text-start">
    <a href="{% url 'home' %}"> Home</a><br /><br />
    <div class="card border-success p-4 pb-0 col-auto">
        <h3>Change your password</h3>
        <p>Use the form below to change your password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <p>
                <input type="submit" value="Change password" class="btn btn-primary">
            </p>
            <br /><br />
        </form>
    </div>
</main>
{% endblock content %}