{% extends 'base/base.html' %} {% block title %}Sign Up Page{% endblock title %}
{% load crispy_forms_tags %} {% block content %}
<br />
<main class="container col-4">
  <a href="{% url 'home' %}">Home</a><br /><br />
  <div class="card border-success p-4 pb-0 col-auto">
    <div class="form-group">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Register</button>
        <br /><br />
      </form>
    </div>
  </div>
</main>

<br /><br /><br /><br />

{% endblock content %}
