{% extends 'base.html' %}

{% block content %}


<main class="container">
    <div class="row">

        <!-- Users list -->
        <div class="col-auto col-sm-3 col-lg-3 text-center">
            {% include 'left_sidebar.html' %}
        </div>

        <!-- Feed with posts -->
        <div class="col-sm-8 col-lg-6 ">
            <h5 class="text-center">Feed</h5>
            <hr>
            <div class="pb-0">
                {% if user.is_authenticated %}
                    <p>Hello, {{ request.user | capfirst }}!</p>
                    <a href="{% url 'post_create' %}" class="btn btn-primary">+Add post</a>
                {% else %}
                    
                        <h6>You're not logged.</h6>
                        <p>Please, <a href="{% url 'login' %}">login</a> to write posts</p>
                {% endif %}
            </div><br>

            <!-- Error messages -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} 
                        class="alert alert-{{ message.tags }}" role="alert">
                        {% endif %}{{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
                

            <!-- Posts -->
            {% if posts %}
                {% for post in posts %}
                    {% include 'blog/post.html' %}
                {% endfor %}
            {% endif %}
            
        </div>

        <!-- Tags list -->
        <div class="col-auto col-lg-3 text-center">
            {% include 'right_sidebar.html' %}
        </div>

    </div>
    {% include 'blog/pagination.html' %}

<br><br><br>

</main>


{% endblock content %}


