{% extends 'base.html' %}

{% block content %}

<h3 style="text-align:center;">Home Page</h3>

<main class="container">
    <div class="row">
        <!-- Users list -->
        <div class="col-auto col-sm-3 col-md-2 col-lg-2 text-center" 
            {% comment %} style="background: #f54;" {% endcomment %}
            >
            {% include 'left_sidebar.html' %}
        </div>

        <!-- Feed with posts -->
        <div class="col-sm-8 col-md-8 " 
            {% comment %} style="background: #d94;" {% endcomment %}
            >
            <h5 class="text-center">Feed</h5>
            <hr>
            {% if user.is_authenticated %}
                <p>Hello, {{ request.user | capfirst }}!</p>
                <a href="{% url 'post_create' %}" class="btn btn-primary">+Add post</a>
            {% else %}
                <p>You're not logged.</p>
            {% endif %}
            <br><br>

            <!-- Error messages -->
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
                

            <!-- Posts -->
            {% for post in object_list %}
                <article class="card border-success mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto px-2 col-lg-1">
                                <a href="{% url 'user_profile' post.author.user.profile.pk %}">
                                <img src="{{ post.author.avatar.url }}" 
                                class="rounded-circle article-img" 
                                    height="50px" width="50px"></a>
                            </div>
                                
                            <div class="col-auto px-0 col-lg-11">
                                <h5 class="card-title">
                                    <a href="{% url 'post_detail' post.slug %}">
                                        {{ post.title }}</a>
                                </h5>
                                <p class="card-subtitle mb-2 text-body-secondary">
                                    {{ post.title_tag }}</p>
                                <p class="mb-2 text-body-secondary">
                                    by <b>{{ post.author | capfirst }}</b> · 
                                    <i>{{ post.created_on }}</i></p>
                            </div>
                        </div>
                        <p class="card-text">{{ post.content }}</p>
                        {% if request.user == post.author.user %}
                            <a href="{% url 'post_update' post.slug %}" class="card-link">Edit</a>
                            <a href="{% url 'post_delete' post.slug %}" class="card-link">Delete</a>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
            <br><br><br>
        </div>

        <!-- Tags list -->
        <div class="col col-md-2 text-center" 
            {% comment %} style="background: #f19;" {% endcomment %}
            >
            {% include 'right_sidebar.html' %}
        </div>
    </div>

</main>

{% endblock content %}

