{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <h4 style="text-align:center;">Post Detail</h1>

    <br>
    <div class="container col-8">
        <a href="{% url 'home' %}" 
            >Back</a><br><br>

        <!-- Error messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} 
                    class="alert alert-{{ message.tags }}" role="alert">
                    {% endif %}{{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}


        <article class="container card border-success-subtle mb-3 p-3 col-8">

            <!-- 1 row -- Avatar, (Title, author), Icons -->
            <div class="row">
                <div class="col-auto m-2 p-1">
                    <a href="{% url 'user_profile' post.author.user.profile.pk %}">
                    <img src="{{ post.author.user.profile.avatar.url }}" 
                    class="rounded-circle article-img" 
                        height="60px" width="60px"></a>
                </div>
                <div class="col my-2">
                    <h5 class="card-title mb-0">{{ post.title }}</h5>
                    <span class="badge bg-info text-dark">#{{ post.tag }}</span><br>
                    <strong class="fw-bold">{{ post.author | capfirst }}</strong> · 
                    <span class="badge text-bg-success" id="user_status">
                        {{ post.author.user.profile.user_status }}
                    </span> ·
                    <em>{{ post.created_on }}</em>
                    {% if post.created_on != post.updated_on %} 
                    · <small class="text-decoration-none">last updated in {{ post.updated_on | timesince }}</small>
                    {% endif %}
                    
                </div>

                <!-- Edit/ delete post and other icons -->
                <div class="col-auto my-2">
                    <!-- Follow system -->
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if post.author in user.profile.follows.all %}
                            <button class="btn btn-outline-secondary btn-sm" 
                                name="follow" value="Unfollow" type="submit"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip" data-bs-title="Unfollow @{{ profile.user }}">
                                    - Unfollow
                            </button>
                        {% else %}
                            <button class="btn btn-outline-success btn-sm" 
                                name="follow" value="Follow" type="submit"
                                data-bs-toggle="tooltip" data-bs-placement="top" 
                                data-bs-custom-class="custom-tooltip" data-bs-title="Follow @{{ profile.user }}">
                                    + Follow 
                            </button>
                        {% endif %}
                    </form>


                    {% if request.user == post.author.user %}
                        <a href="{% url 'post_update' post.slug %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'post_delete' post.slug %}">
                            <i class="fa-solid fa-trash-can px-2"></i>
                        </a>
                    {% endif %}

                    <!-- Post noted -->
                    {% comment %} change_post_noted {% endcomment %}
                    {% if post.post_noted %}
                        <i class="bi bi-bookmark-fill"></i>
                    {% else %}
                        <i class="bi bi-bookmark"></i>
                    {% endif %}
                    <i class="bi bi-three-dots-vertical"></i>
                </div>

                <br>
            </div>
                
            <p class="card-text lh-base">
                {{ post.content }}</p>

            <!-- 2 row like button, comment and replies count -->
            <div class="row">
                <div class="col-auto">

                    <!-- Like system, render icon likes, comments and replies with quantity -->
                    {% if post.likes.count %}
                        <a href="{% url 'post_like' post.slug %}">
                            <i class="bi bi-heart-fill me-1" style="color:red"></i>
                        </a>
                        <!-- likes quantity-->
                        <strong class="text-dark me-2">
                            {{ post.likes.count }}
                        </strong>
                    {% else %}
                        <a href="{% url 'post_like' post.slug %}">
                            <i class="bi bi-heart me-1" style="color:black"></i>
                        </a>
                    {% endif %}
                    

                    

                    {% if comments %}
                        <i class="bi bi-chat-fill me-1"></i>
                        <strong class="text-dark me-2">
                            {{ comments_count }}
                        </strong>
                        {% if not comments.is_parent %}
                            <i class="bi bi-reply-all-fill me-1"></i>
                            <strong class="text-dark me-2">
                                {{ replies_count }}
                            </strong>
                        {% else %}
                            <i class="bi bi-reply-all me-3"></i>
                        {% endif %}
                    {% else %}
                        <i class="bi bi-chat me-3"></i>
                    {% endif %}
                    
                    <i class="fa-solid fa-retweet"></i>

                    {% if post.seen_by %}
                        <i class="bi bi-eye-fill"></i>
                        <strong class="text-dark me-2">
                            {{ post.seen_by.count }}
                        </strong>
                    {% else %}
                        <i class="bi bi-eye"></i>
                    {% endif %}
                </div>
            </div>


            <!-- 3 row Comment form -->
            <div class="row my-2">
                {% if user.is_authenticated %}
                    <form action="" method="POST">
                        <div class="col-auto">
                            <label for="comment">Add comment: </label>
                            {% csrf_token %}
                            {{ comment_form.content }}
                            <input type="submit" value="Post" 
                            class="btn btn-outline-primary btn-sm">
                        </div>
                    </form>
                {% else %} 
                    <h6>You need to login to comment</h6> 
                {% endif %}
            </div>

            <!-- 4 row Render Comments and replies -->
            <div class="row">
                {% if comments %}
                    {% include 'blog/comments.html' %}
                {% else %}
                    <div class="row">
                        <h6>No one wrote any comment ...</h6>
                    </div>
                {% endif %}
            </div>

        </article>
    </div>

            
    <br><br><br><br>
    </div>


    <script>
    /*
    $(document).ready(function(){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "post_like" post.slug %}',
                data: {
                    postslug: $('#like').val(),
                    csrfmiddlewaretoken: $('input[mame=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function(json){
                    document.getElementById("number_of_likes").innerHTML = json['result']
                },
                    error: function(xhr, errmsg, err){

                        }
                    });
                });
    })
    */

    /*
    // https://github.com/MahfuzKhandaker/ajxify_django
    $(document).ready(function(){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            var slug = $(this).attr('value');
            $.ajax({
            type: 'POST',
            url: '{% url "post_like" post.slug %}',
            data: {
                    'post_slug': slug,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response){
                    $('#blog/post_detail').html(response['form'])
                    },
                    error: function(rs, e){
                    console.log(rs.responseText);
                    },
                });
            });
    })
    /*
    </script>
{% endblock %}