<article class="card border-success rounded-4 mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-auto mx-2">
                <a href="{% url 'user_profile' post.author.user.profile.pk %}">
                <img src="{{ post.author.avatar.url }}" 
                class="rounded-circle article-img" 
                    height="50px" width="50px">
                </a>
            </div>
                
            <div class="col-auto px-0">
                <h6 class="card-title">
                    <a href="{% url 'post_detail' post.slug %}">
                        {{ post.title }}
                    </a>
                </h6>
                {% if post.tag %}
                    <a href="{% url 'tag_posts' post.tag %}">
                        <span class="badge bg-warning text-dark">#{{ post.tag }}</span>
                    </a>
                {% endif %}
                <p class="mb-2 text-body-secondary">
                    by <strong>{{ post.author | capfirst }}</strong> · 
                    <a href="{% url 'status_posts' post.author.user_status %}">
                        <span class="badge rounded-pill text-bg-success" id="user_status">
                            {{ post.author.user_status }}
                        </span>
                    </a> · 
                    <i>{{ post.created_on.date }}</i>
                </p>
            </div>
            <p class="card-text">{{ post.content| safe | truncatewords:10}}</p>

            <!-- LIKES -->
            <div class="row text-secondary justify-content-start">
                <div class="col-auto">
                    {% if post.likes.count %}
                        {% if request.user.profile in post.likes.all %}
                            <a href="{% url 'post_like' post.slug %}">
                                <i class="bi bi-heart-fill me-1" style="color:red"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'post_like' post.slug %}">
                                <i class="bi bi-heart-fill me-1" style="color:gray"></i>
                            </a>
                        {% endif %}{{ post.likes.count }}
                    {% else %}
                        <a href="{% url 'post_like' post.slug %}">
                            <i class="bi bi-heart me-3" style="color:black"></i>
                        </a>
                    {% endif %}

                </div>
                <div class="col-auto">
                    {% if post.get_comments %}
                        <i class="bi bi-chat-fill me-2"></i>{{ post.get_comments.count }}
                    {% else %}
                        <i class="bi bi-chat"></i>
                        {% endif %} 
                </div>

                <div class="col-auto">
                    {% if post.get_replies %}
                        <i class="bi bi-reply-all-fill me-2"></i>{{ post.get_replies.count }}
                    {% else %}
                        <i class="bi bi-reply-all"></i>
                    {% endif %}
                </div>

                

                <div class="col-auto">
                    {% if post.seen_by %}
                        <i class="bi bi-eye-fill me-2"></i>{{ post.seen_by.count }}
                    {% else %}
                        <i class="bi bi-eye me-2"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>

<style>
    a:link {
text-decoration: none;
}
</style>
