{% load blog_tags %}

<article class="card border-success shadow rounded-4 mb-3">
    <div class="card-body">

        <!-- 1 row Share info if user shared post-->
        <div class="row mb-2">
            <div class="col-auto">
                {% if request.user.profile in post.share.all %}
                    <i class="fa-solid fa-retweet" style="color:red"></i>
                    <small>You have shared this post</small>
                {% endif %}
            </div>
        </div>

        <!-- 2 row - Avatar, Post info -->
        <div class="row">
            <!-- Avatar-->
            <div class="col-auto mx-2">
                <a href="{% url 'user_profile' post.author.user.profile.pk %}">
                <img src="{{ post.author.avatar.url }}" 
                class="rounded-circle article-img" 
                    height="50px" width="50px">
                </a>
            </div>

            <!-- Post attributes -->
            <div class="col-auto px-0">
                <h6 class="card-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h6>
                {% if post.tags %} <!-- If post has one tag or several tags-->
                    {% for tag in post.tags.all %}
                        <a href="{% url 'tag_posts' tag.slug %}">
                            <span class="badge bg-warning text-dark">&#35;{{ tag }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
                <p class="mb-2 text-body-secondary">
                    by <strong>{{ post.author | capfirst }}</strong> ·
                    <a href="{% url 'status_posts' post.author.user_status %}">
                        <span class="badge rounded-pill text-bg-success" id="user_status">
                            {{ post.author.user_status }}
                        </span>
                    </a> ·
                    <i>
                        {{ post.created_on | time:"H:i" }} ·
                        {{ post.created_on | date:"d M Y" }}
                    </i>
                    {% if post.created_on != post.updated_on %}
                    · <small class="text-decoration-none">last updated in {{ post.updated_on | timesince }}</small>
                    {% endif %}
                </p>
            </div>

        </div>

        <!-- 3 row Post content -->
        <p class="card-text">{{ post.content| markdown | safe | truncatewords_html:20}}</p>

        <!-- 4 row Post info -->
        <div class="row text-secondary justify-content-between">

            <!-- Like system and count -->
            <div class="col-auto">
                {% include 'blog/add/post_likes.html' %}
            </div>

            <!-- Comments count if exist -->
            <div class="col-auto">
                {% if post.get_comments %}
                    <i class="bi bi-chat-fill me-2"></i>
                    <strong class="text-dark me-2">{{ post.get_comments.count }}</strong>
                {% else %}
                    <i class="bi bi-chat"></i>
                {% endif %} 
            </div>

            <!-- Replies  count if exist-->
            <div class="col-auto">
                {% if post.get_replies %}
                    <i class="bi bi-reply-all-fill me-2"></i>
                    <strong class="text-dark me-2">{{ post.get_replies.count }}</strong>
                {% else %}
                    <i class="bi bi-reply-all"></i>
                {% endif %}
            </div>

            <!-- Share system and count if exist -->
            <div class="col-auto">
                {% include 'blog/add/post_share.html' %}
            </div>

            <!-- Favorites system and count if exist -->
            <div class="col-auto">
                {% if request.user.profile != post.author %}
                    {% if post.favorites.count %}
                        <!-- Add post to favorites -->
                        {% if request.user.profile in post.favorites.all %}
                            <a href="{% url 'add_post_favorites' post.slug %}">
                                <i class="bi bi-bookmark-fill me-1"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'add_post_favorites' post.slug %}">
                                <i class="bi bi-bookmark-fill me-1" style="color:gray"></i>
                            </a>
                        {% endif %} 
                        <strong class="text-dark me-2">
                            {{ post.favorites.count }}
                        </strong>
                    {% else %}
                        <a href="{% url 'add_post_favorites' post.slug %}">
                            <i class="bi bi-bookmark me-2"></i>
                        </a>
                    {% endif %}
                {% else %}
                    {% if post.favorites.count %}
                        <i class="bi bi-bookmark-fill me-1" style="color:gray"></i>{{ post.favorites.count }}
                    {% else %}
                        <i class="bi bi-bookmark me-1" style="color:gray"></i>
                    {% endif %}
                {% endif %}
            </div>

            <!-- Count of post visitors if exist -->
            <div class="col-auto">
                {% if post.seen_by.count %}
                    <i class="bi bi-eye-fill me-2"></i>
                    <strong class="text-dark me-2">
                        {{ post.seen_by.count }}
                    </strong>
                {% else %}
                    <i class="bi bi-eye me-2"></i>
                {% endif %}
            </div>
        </div>
    </div>
</article>

