{% extends 'base/base.html' %} {% block content %}
<h2 style="text-align: center">Plants with category "{{ category }}"</h2>
<br />
<div class="container">
  <div class="row">
    <div class="col-auto col-sm-3 col-md-2 col-lg-2"></div>

    <div class="col-sm-8 col-md-8">
      <a href="{% url 'home' %}">Home</a><br /><br />

      {% for plant in category_plants %} {% include 'plants/plant.html' %} {%
      endfor %}
    </div>

    <div class="col col-md-2"></div>
  </div>
</div>

<br /><br /><br />
{% endblock content %}
