{% extends 'base/base.html' %} {% block content %}
<h2 style="text-align: center">Most visited posts</h2>
<br /><br />

<div class="container">
    <div class="row">
        <div class="col-auto col-sm-3 col-md-2 col-lg-2"></div>

        <div class="col-sm-8 col-md-8">
            <a href="{% url 'home' %}">Home</a><br /><br />

            {% for post in most_visited_posts %} 
                {% include 'blog/post.html' %} 
            {% endfor %} 
        </div>

        <div class="col col-md-2"></div>
    </div>
</div>
<br /><br />

{% include 'base/pagination.html' %}

<br /><br />

{% endblock content %}
