{% extends 'base.html' %}

{% block content %}
<h2 style="text-align:center;">
    Posts with status "{{ status }}"
</h2>
<br><br>

<div class="container">
    <a href="{% url 'home' %}" 
        >Back</a><br>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            {% if status_posts %}
                {% for post in status_posts %}
                    {% include 'blog/post.html' %}
                {% endfor %}
            {% else %}
                <p>No one published post has published
                    from user with status "{{ status }}" ...</p>
            {% endif %}
        </div>
    </div>
</div>

<br><br><br>
        
{% endblock content %}