{% extends 'base/base.html' %} {% block content %}
<h2 style="text-align: center">
  {{ profile.user.username | capfirst }}'s posts
</h2>
<br /><br />

<div class="container">
  <a href="{% url 'user_profile' profile.pk %}">Back</a><br /><br />
  <div class="row">
    <div class="col-auto col-sm-3 col-md-2 col-lg-2"></div>

    <div class="col-sm-8 col-md-8">
      {% if user_posts %} {% for post in user_posts %} {% include
      'blog/post.html' %} {% endfor %} {% else %}
      <p>{{ profile.user.username }} hasn't published any post</p>
      {% endif %}
    </div>

    <div class="col col-md-2"></div>
  </div>
</div>

<br /><br /><br />

{% endblock content %}
