a:link {
    text-decoration: none;
}

a:link hover {
    text-decoration: none;
}

a:link active {
    text-decoration: none;
}

a:link visited {
    text-decoration: none;
}


a .heart-icon {
    color: black;
    font-size: 15px;
}
