{% extends 'base.html' %}

{% block title %}Delete Plant{% endblock title %}

{% block content %}
<h3 style="text-align:center;">Delete plant</h3>
<br><br>    
<div class="container col-4 ">
    
    <div class="form-group card border-bg-success p-3 my-2">
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ plant.title }}" plant?</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'home' %}" 
                class="btn btn-secondary">Cancel</a><br>
        </form>
    </div>
</div>
<br>
{% endblock content %}
    